$headline: #272343;
$paragraph: #2d334a;
$background: #fffffe;
$button: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

.brainstorm-card {
  border-radius: 20px;
  background-color: $secondary;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.brainstorm-content {
  width: 100%;
  padding: 20px;
  padding-left: 10px;
}

.brainstorm-img {
  width: 50px;
}

.main-desc {
  font-size: 1.5em;
}

.desc {
  font-size: 1.2em;
}

.ideas {
  padding: 15px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .card-row {
    margin-bottom: 20px;
  }
}
