@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$headline: #272343;
$paragraph: #2d334a;
$background: #fffffe;
$button: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

html {
  background-color: $background;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.blue-bg {
  background-color: $secondary;
}

h1,
h2,
h3,
h4 {
  color: $headline;
}

p {
  color: $paragraph;
  font-size: 1.2em;
}

.title-bg {
  min-height: 100vh;
}

.background-img {
  background-image: url(./images/may_room.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 400px;
}

.arrow {
  width: 30px;
}

.logo-col {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  margin-bottom: 0;
}

.subtitle-2 {
  font-weight: bolder;
}

.place-empty {
  height: 200px;
}

.place {
  height: 50px;
}

.quote {
  border-left: 2px solid #e5e5e5;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .logo {
    width: 300px;
  }

  .subtitle-1 {
    font-size: 1.5em;
  }
}
