@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$headline: #272343;
$paragraph: #2d334a;
$background: #fffffe;
$button: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

html {
  background-color: $background;
  min-height: 100vh;
}

.blue-bg {
  background-color: $secondary;
}

h1,
h2,
h3,
h4 {
  color: $headline;
}

p {
  color: $paragraph;
}

.title-bg {
  min-height: 100vh;
}

.logo {
  width: 500px;
}

.logo-col {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  margin-bottom: 0;
}

.subtitle-2 {
  font-weight: bolder;
}

.place-empty {
  height: 200px;
}

.place {
  height: 50px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .logo {
    width: 300px;
  }

  .subtitle-1 {
    font-size: 1.5em;
  }
}
