.line{
    border-left: 3px solid #272343;
    
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 90px;

    -webkit-animation: increase 3s;
    -moz-animation:    increase 3s; 
    -o-animation:      increase 3s; 
    animation:         increase 3s; 
    animation-fill-mode: forwards;
}
@keyframes increase {
    100% {
        height: 400px;
    }
}